<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card ms-3 bg-secondary" style="font-family: 'Times New Roman';text-decoration-color: aliceblue">
        <div class="card-title">
          <h4>Add Employee</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="employeeID">Employee ID:</label>
              <input type="text" class="form-control" id="employeeID"/>
            </div>
            <div class="form-group">
              <label for="firstName">First Name:</label>
              <input type="text" class="form-control" id="firstName"/>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name:</label>
              <input type="text" class="form-control" id="lastName"/>
            </div>
            <div class="form-group">
              <label for="gender">Gender:</label>
              <div class="form-group" style="margin-left: 70px">
                <label for="male">Male</label>
                <input type="radio" id="male" value="male">
                <label for="female">Female</label>
                <input type="radio" id="female" value="male">
              </div>
            </div>
            <div class="form-group">
              <label for="age">Age:</label>
              <input type="number" min="0" class="form-control" id="age"/>
            </div>
            <div class="form-group">
              <label for="department">Department:</label>
              <input type="text" class="form-control" id="department"/>
            </div>
            <div class="form-group">
              <label for="salary" class="mt-3">Salary:</label>
              <input type="range" min="10000" max="10000000" step="1000" [(ngModel)]="salaryRange">
              <output for="salary"> {{salaryRange|number}}</output>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
